* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: rgb(240, 240, 240);
    min-width: 320px;
}

html,
body,
#__next {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
}
